@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brown-Bold";
  src: url("/fonts/Brown-Bold.ttf");
}

body {
  background: #FD5C63;
  color: #FFF;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-header {
  font-family: "Brown-Bold";
  font-size: 6rem;
  line-height: 1;
}

.logo {
  margin-top: 128px;
}
