.indexContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.leftCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 96px;
    width: 45vw;
    height: 100%;
}

.rightCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 100%;
}

.indexHeader {
    font-family: "Brown-Bold";
    font-size: 6rem;
    line-height: 1;
}

span.coloredText {
    color: #FC5D63;
}

.indexDescription {
    margin-top: 36px;
    font-family: "Brown-Regular";
    font-size: 1.875rem;
    line-height: 2.25rem;
}

@media only screen and (max-width: 1269px) {
    .indexContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .rightCol {
        width: 90vw;
        margin-top: 128px;
    }

    .leftCol {
        width: 90vw;
        padding-bottom: 0;
        margin-top: 96px;
    }
}

@media only screen and (max-width: 694px) {
    .indexHeader {
        font-size: 4.5rem;
    }

    .indexDescription {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 520px) {
    .indexHeader {
        font-size: 3.75rem;
    }

    .indexDescription {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media only screen and (max-width: 434px) {
    .indexHeader {
        font-size: 3rem;
    }

    .indexDescription {
        font-size: 1.125rem;
    }

    .leftCol {
        margin-top: 80px;
    }
}