.loginBtn {
    font-family: "Brown-Bold";
    font-size: 1.25rem;
    text-align: center;
    color: #FD5C63;
    padding: 13px 23px;
    width: 150px;
    border: 2px solid #FD5C63;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.loginBtn:hover {
    border-color: #000;
    color: #000;
    transition: all 0.3s ease-out;
}