aside.sideMenu {
    width: 30vw;
    height: 100vh;
    border-right: 1px solid #f2f2f2;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userPicture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    margin: 17.5px 25px 0px 25px;
}

li.featureItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 0 1.25rem 25px;
    cursor: pointer;
}

li.featureItem:hover {
    background: #FFF7F7;
    color: #FD5C63;
}

li.featureItem h1.featureDescription {
    font-family: "Brown-Regular";
    font-size: 1.25rem;

    margin-left: 12.5px;
}

h2.featuresTitle {
    font-family: "Brown-Regular";
    font-size: 1.125rem;
    color: #B3B3B3;

    margin-left: 25px;
    margin-bottom: 1.25rem;
}

.featureIcon {
    font-size: 35px;
}